#newGroup{
padding: 5;
text-align: center;
font-size: 20px;
color: black;
margin-bottom: 20px;
margin-top: 50px;
}

#newGroupPassword{
padding: 5;
text-align: center;
font-size: 20px;
color: black;
margin-top: 40px;
margin-bottom: 20px
}

#goupName{
margin-top: 30px;
color:blue
padding-bottom: 30px;
width: 80%;
}

#joinGoup{

padding: 10;
color:white;

}

Button{
margin-top: 30px;
width: 70%;
background-color: CadetBlue;
border-radius: 20px;

}

#action-bar{
background-color: CadetBlue;
}