@import url('~/platform.css');

Page {
    font-size: 17;
}

ActionBar{

color : CadetBlue;
background-color: black;
}



#signIn {

    margin-top: 30px;
    width: 70%;
    background-color: CadetBlue;
    border-radius: 20px;

}

#signUp{
    margin-top: 30px;
    width: 70%;
    background-color: CadetBlue;
    border-radius: 20px;

}

#email{

margin-top : 30%;
}

#create{

 margin-top: 100px;
 width: 75%;
 size : 15%
}