ActionBar{

color : CadetBlue;
background-color: black;

}
Label{


}

#title{
margin-top:10;
}

#artist{
margin-top:30;
}

#like{
color: lime;

margin-right: 1;
}

#unlike{

margin-right: 1;
color : red;

}

Button{

background-color : black;

}